{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-commerce website</title>
    <script src="{% static 'js/script.js' %}" defer></script>

    <!-- font-awesome cdn link -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <!-- custom css file link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <section id="header">
        <a href="{% url 'products' %}"><img src="{% static 'images/logo.png' %}" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="{% url 'products' %}">Shop</a></li>
                <li><a class="active" href="/cart/">cart</a></li>
                <li><a href="/upload/">upload</a></li>
                <li><a>Contact</a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    
    {% if cart.items|length == 0 %}
    <section id="cart" class="section-p1">
    <h2 class="cart-empty">no items in cart</h2>
    </section>
    {% else %}
    <section id="cart" class="section-p1">
        
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>size</td>
                    <td>Quantity</td>
                    <td>price</td>
                </tr>
            </thead>
            <tbody>
                {% for item_id, item in cart.items %}
                <tr>
                    <td><a href="{% url 'remove_cart_item' item_id %}"><i class="fas fa-times-circle" style="color:black"></i></a></td>
                    <td><img src="{% static item.image_location|slice:"7:" %}" alt=""></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.size}}</td>
                    <td>{{ item.quantity}}</td>
                    <td>£{{ item.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section id="cart-add" class="section-p1">
        <div class="coupon">
        </div>
        <div class="subtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>${{ overall_price }}</strong></td>
                </tr>
            </table>
            <button class="normal">Proceed to checkout</button>
        </div>
    </section>
    {% endif %}
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="{% static 'images/logo.png' %}" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> UK, London </p>
            <p><strong>Phone:</strong> +44-321-4655990</p>
            <p><strong>Hours:</strong> 10:00 - 17:00, Mon - Fri</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="link-button" type="submit">Log Out</button>
            </form>
            
            <a href="/cart/">View Cart</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
        </div>
        <div class="copyright">
            <p>Created By Ahmed El Asmai | All Rights Reserved | &#169; 2024</p>
        </div>
    </footer>
    
</body>

</html>