{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-commerce website</title>
    <script src="{% static 'js/script.js' %}" defer></script>

    <!-- font-awesome cdn link -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <!-- custom css file link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <section id="header">
        <a href="{% url 'products' %}"><img src="{% static 'images/logo.png' %}" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="{% url 'products' %}">Shop</a></li>
                <li><a href="/cart/">cart</a></li>
                <li><a href="/upload/">upload</a></li>
                <li><a>Contact</a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    {% comment %} <section id="page-header">
        <img src="{% static images/banner/b2.jpg %}">
        <h2>#stayhome</h2>
    </section> {% endcomment %}

    <!--product section-->

    <section id="product1" class="section-p1">
        <div class="pro-container">
            {% for product in page_obj %}
            <div class="pro" onclick="window.location.href='{% url 'product' product.id %}';">
                <img src="{% static product.image.url|slice:"7:" %}" alt="">
                <div class="des">
                    <span>{{ product.category }}</span>
                    <h5>{{ product.name }}</h5>
                    <div class="star">
                    </div>
                    <h4>£{{ product.price }}</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            {% endfor %}
        </div>
    </section>

    <!--pagination-->
    <section id="pagination" class="section-p1">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="{% static 'images/logo.png' %}" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> london </p>
            <p><strong>Phone:</strong> +44 7496046363</p>
            <p><strong>Hours:</strong> 09:00 - 17:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="link-button" type="submit">Log Out</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
            <a href="/cart/">View Cart</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
        </div>
        <div class="copyright">
            <p>Created By Ahmed El Asmai | All Rights Reserved | &#169; 2024</p>
        </div>
    </footer>


</body>

</html>