{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Products</title>
    <script src="{% static 'js/script.js' %}" defer></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section id="header">
        <a href="{% url 'products' %}"><img src="{% static 'images/logo.png' %}" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="{% url 'products' %}">Shop</a></li>
                <li><a href="/cart/">cart</a></li>
                <li><a class="active" href="/upload/">upload</a></li>
                <li><a>Contact</a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    <section id="#productdetails" class="section-p1">
        <div class="single-pro-details">
                <form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">
                    {% csrf_token%}
                    <h3> product </h3>
                    {{ product_form.as_p }}
                    <br>
                    <h3> stock </h3>
                    {{ stock_form.as_p }}
                    <button type="submit" class="normal2">Submit</button>
                </form>
        </div>
    </section>
</body>
</html>